/* CSS declarations go here */
@font-face {
    font-family: 'Roboto'; 
    src:
    url("/fonts/Roboto/Roboto-Light.ttf")s
}
body{

	font-family: 'Roboto',sans-serif;
}
.active{
	color:black;
	background: lightgray;
}
.container{
	margin:auto;
	max-width: 1024px;
	margin-bottom:40px;
}

.Menu{
	padding: 15px;
}
.item{
	background: rgba(0, 220, 255, 0.15);
	border-bottom: 1px solid black;
}
.drawerLinks{
	padding-left:0px;
}
.drawerLinks > li {
	width: 100%;
	list-style: none;
	font-size: 20px;
}

.drawerLinks > li > a{
	text-decoration: none;
	display: block;
}
.drawerLinks > li > a:hover{
	background-color: AliceBlue;
}

.order{
	margin-bottom: 20px;
}
.homeactions{
	float:right;
}
.orderP{
	display:inline-block;
}
.next{
	margin-top:20px;
}